.booking-center{
   border: 1px solid lightgrey;
   height:300px;
   width: 330px;
   background-color: #FFFFFF;
   border: none;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.image-size-card{
   width:120px;
   height:100px;
}
.color-price{
   color:rgb(39, 41, 32);
}